<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>University ERP</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/manage_users">Manage Users</a>
    <a href="/admin_dashboard">Analytics</a>

    <a href="/logout" class="logout">Logout</a>
</div>

<!-- MAIN -->
<div class="main">

<!-- HEADER -->
<div class="header">
    <div>
        <h1>Analytics Dashboard</h1>
        <p>System Overview</p>
    </div>

    <div class="notification">
        Insights
    </div>
</div>

<!-- STATS CARDS -->
<div class="card-grid">

<div class="card">
    <h4>Total Documents</h4>
    <p class="big">{{ total_documents }}</p>
</div>

<div class="card">
    <h4>Approved</h4>
    <p class="big green">{{ approved_documents }}</p>
</div>

<div class="card">
    <h4>Pending</h4>
    <p class="big yellow">{{ pending_documents }}</p>
</div>

<div class="card">
    <h4>Rejected</h4>
    <p class="big red">{{ rejected_documents }}</p>
</div>

<div class="card">
    <h4>Total Users</h4>
    <p class="big">{{ total_users }}</p>
</div>

<div class="card">
    <h4>Students</h4>
    <p class="big">{{ students }}</p>
</div>

<div class="card">
    <h4>Faculty</h4>
    <p class="big">{{ faculty }}</p>
</div>

<div class="card">
    <h4>HOD</h4>
    <p class="big">{{ hod }}</p>
</div>

<div class="card">
    <h4>Dean</h4>
    <p class="big">{{ dean }}</p>
</div>

</div>

</div>

</body>
</html>