<!DOCTYPE html>
<html>
<head>
    <title>Create {{ template.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <div class="sidebar-brand">

        <img src="{{ url_for('static', filename='dash_logo.png') }}" class="brand-logo">

        <div class="brand-text">
            <h2 class="brand-title">MIT Art, Design and Technology</h2>
            <p class="brand-sub">Pune, Maharashtra</p>
        </div>

    </div>
    <nav class="sidebar-menu">

    <a href="/dashboard">Dashboard</a>

    {% if current_user.role == "admin" %}
    <a href="/manage_users">Manage Users</a>
    <a href="/admin_dashboard">Analytics</a>
    {% endif %}

    <a href="/logout" class="logout">Logout</a>
    </nav>
</div>

<!-- MAIN -->
<div class="main">

<!-- HEADER -->
<div class="header">
    <div>
        <h1>Create Document</h1>
        <p>{{ template.name }}</p>
    </div>

    <div class="notification">
        Fill Details
    </div>
</div>

<!-- FORM CARD -->
<div class="form-card">

<form method="POST" action="/submit_request">

<input type="hidden" name="template_name" value="{{ template.name }}">

<label>Title</label>
<input type="text" name="title" required>

<label>Department</label>
<input type="text" name="department" required>

<label>Date</label>
<input type="date" name="date" required>

<label>Message</label>
<textarea name="message" rows="4" required></textarea>

<label>Authority</label>
<input type="text" name="authority" required>

<button class="btn">Submit Request</button>

</form>

</div>

</div>

</body>
</html>