<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <!-- IMPORTANT -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h2>University Login</h2>

        <form method="POST" action="/login">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

            
            <a href="/otp_login" class="btn-secondary">
                Login with Email (OTP)
            </a>

        </form>

        <p>Don't have an account?</p>

        <a href="/register" class="btn-secondary">Create Account</a>

    </div>

</div>

</body>
</html>